/OpenGL_Project/OpenGL_Project_1/Debug
/OpenGL_Project/OpenGL_Project_1/OpenGL_Project_1/Debug
/OpenGL_Project/OpenGL_Project_1/OpenGL_Project_1/*.vcxproj
/OpenGL_Project/OpenGL_Project_1/OpenGL_Project_1/*.filters
/OpenGL_Project/OpenGL_Project_1/*.sdf
/OpenGL_Project/OpenGL_Project_1/*.suo
/OpenGL_Project/OpenGL_Project_1/*.opensdf
